<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="/css/home.css">



<div id="home-container" class="container-fluid">
    <div class="empty">

    </div>

    <div class="row">
        <div class="col">

            <!-- - \\\\\\\Post-->
            <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active">
                                    Make a publication
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" name="content" cols="55" rows="3"
                                placeholder="Whats on your mind.. Type Here !!" required></textarea>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <% } %>
            <!-- Post ///// -->
            <div id="post-list-container">
                <ul>

                    <% for(post of posts){ %>

                    <%- include('posts') %>

                    <% } %>

                </ul>
            </div>
        </div>
    </div>


    <section id="user-friends">

        <div class="friends">
            <h4>FRIENDS</h4>
            <% if(locals.user){ %>
            <% for(let friends of friendships){ %>
            <p>
                <a href="/users/profile/<%= friends.id %>"> <%= friends.name %> </a>
            </p>
            <% } %>
            <% } %>
        </div>

        <div class="users">
            <h4>ALL USERS</h4>
            <% for(u of all_users){%>
            <p>
                <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
            </p>
            <% } %>
        </div>

        <%- include('chat_box') %>

    </section>
</div>

<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>


<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>