<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="<%= assetPath('css/newpassword.css') %>">


<div class="container">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title"> Set New Password </h5>

            <div>
                <% if(user.avatar){ %>
                <img class="rounded mx-auto d-block" width="100" src="<%= user.avatar %>" alt="">
                <% } else{ %>
                <img class="rounded mx-auto d-block" width="100" src="<%= assetPath('images/no_profile.jpg') %>" alt="">
                <% } %>

                <div class="name">
                    <b>
                        <%= user.name %>
                    </b>
                </div>
            </div>


            <form id="newpassword" action="/users/new_password" method="POST">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="hidden" name="accesstoken" value="<%= accesstoken %>">
                <input type="password" name="password" placeholder="Enter New Password" required>
                <input type="password" name="cnfrmpassword" placeholder="Confirm Password" required>
                <div class="button">
                    <div>
                        <button type="submit" class="send_email"> Change Password </button>
                        <a href="/users/sign-in"><button type="button">cancel</button></a>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>