<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if(user.id == profile_users.id){ %>
<!-- if user matches then show the form -->
<form action="/users/update/<%= profile_users.id %>" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Your Name" value="<%= profile_users.name %>" required>
  <input type="email" name="email" placeholder="Your Email" value="<%= profile_users.email %>" required>
  <input type="file" name="avatar" placeholder="Profile Picture">
  <input type="submit" value="update">
</form>






















<% } else{ %>
<!-- else show only the profile info -->
<p><%= profile_users.name %></p>
<p><%= profile_users.email %></p>

<!-- checking if the profile user is already a friend or not -->
<!-- <% let isFriendExist = false %>
<% let friendshipId; %>
<% for(let friends of user.friendships){ %>
<% if(friends == profile_users.id){ %>
<% isFriendExist = true %>
<% friendshipId %>
<% break %>
<% } %>
<% } %> -->

<!-- if friend doesn't exist then shows create friend -->
<!-- <% if(!isFriendExist){ %> -->
<a href="/users/createfriendship/<%= profile_users._id %>">
  <button>
    Add Friend
  </button>
</a>
<!-- otherwise shows the option of remove friends -->
<!-- <% } else{ %>
<a href="/users/destroyfriendship/<%= profile_users._id %>">
  <button>
    Remove Friend
  </button>
</a>
<% } %> -->

<% } %>